<%
# The views folder for a controller module (in this case /admin)
# expects a subfolder structure that matches the names of the
# controllers (in this case /admin/stats).
%>

<h1>Blog Stats</h1>

<p>Number of Posts: <%= @post_count %></p>
<p>Number of Authors: <%= @authors_count %></p>
<p>Latest Post: <%= @last_post.created_at %></p>
